<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Login</title>
		<meta name="description" content="Torpedo - login page">

		<link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet" type="text/css" /> 
		<link href="{{ url_for('static', filename='bootstrap-min.css') }}" rel="stylesheet" type="text/css" /> 
		<link href="{{ url_for('static', filename='login-page.css') }}" rel="stylesheet" type="text/css" /> 
		<script src="{{ url_for('static', filename='jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='login.js') }}"></script>
		
	</head>
	<body>
		<div class="container">
		    <div class="omb_login">
		    	<h3 class="omb_authTitle">Login or <a href="./registration">Sign up</a></h3>

				<div class="row omb_row-sm-offset-3">
					<div class="col-xs-12 col-sm-6">	
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" id="username" name="username" placeholder="username" autocomplete="off" />
						</div>
												
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input  type="password" class="form-control" id="password" name="password" placeholder="password" />
						</div>
		                <span id="errorMessage" class="help-block"></span>

						<button class="btn btn-lg btn-primary btn-block myButton" onclick="postLogin()" >Login</button>
					</div>
		    	</div>   	
			</div>
		</div>
	</body>
</html>