<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='login.js') }}"></script>

</head>

<body>

	<h1>LOGIN PAGE</h1>

	<input type="text" id="username" placeholder="username" autocomplete="off" /><br/>
	<input type="password" id="password" placeholder="password" /><br/>

	<button onclick="postLogin()">LOGIN</button>

</body>

</html>