<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battleship</title>
    <meta name="description" content="Battleship - main page">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet" type="text/css" /> 
    <link href="{{ url_for('static', filename='bootstrap-min.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav style="border-radius: 0px; margin-bottom: 0;" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Battleship</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/toplist">Toplist</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="/user/{{ current_user.username }}">Profile</a></li>
          <li><a href="/secure">Lobby</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
          <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div id="mainpage">
      <h1>Battleship</h1>
    </div>
  </body>
</html>