<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Torpedo</title>
    <meta name="description" content="Torpedo - main page">
    <script>
      var secret = "{{ current_user.username }}" + ";" + "{{ current_user.password }}";
    </script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.12.4-min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io-client.js') }}"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
    <link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet" type="text/css" /> 
    <link href="{{ url_for('static', filename='bootstrap-min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='secure.css') }}">

  </head>
  <body>

    <div id="lobby" class="lobby">
      <nav style="border-radius: 0px;" class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Torpedo</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
      <h1>Torpedo</h1>
      <a class="toplist btn btn-primary" href="/toplist">Toplist</a>
      <div class="lobbyElements">
        <div id="invitations" class="list-group playerList">
          <p class="list-group-item active">Invitations</p>
        </div>
        <div id="users" class="list-group playerList" style="margin: 0 50px 0 50px;"></div>
        <div id="waitings" class="list-group playerList">
          <p class="list-group-item active">Waitings</p>
        </div>
      </div>
    </div>

    <div id="informator"></div>
    <div id="ready">
      <button id="readyButton" onclick="ready()" class="btn btn-primary">ready</button>
    </div>
      
    <section id="game" class="game">
      <div class="boatPanel">
        <ul>
          <li>
            <div class="boatPlace sizeOne">
              <div id="1" class="boat sizeOne">
                <table>
                  <tr>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeOne"></div>
            </div>
            <div class="boatPlace sizeOne">
              <div id="2" class="boat sizeOne">
                <table>
                  <tr>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeOne"></div>
            </div>
            <div class="boatPlace sizeOne">
              <div id="3" class="boat sizeOne">
                <table>
                  <tr>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeOne"></div>
            </div>
            <div class="boatPlace sizeOne">
              <div id="4" class="boat sizeOne">
                <table>
                  <tr>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeOne"></div>
            </div>
          </li>
          <li>
            <div class="boatPlace sizeTwo">
              <div id="5" class="boat sizeTwo">
                <img src="/static/teszt.jpg" onclick="rotateBoat(this)"/>
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeTwo"></div>
            </div>
            <div class="boatPlace sizeTwo">
              <div id="6" class="boat sizeTwo">
                <img src="/static/teszt.jpg" onclick="rotateBoat(this)"/>
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeTwo"></div>
            </div>
            <div class="boatPlace sizeTwo">
              <div id="7" class="boat sizeTwo">
                <img src="/static/teszt.jpg" onclick="rotateBoat(this)"/>
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeTwo"></div>
            </div>
          </li>
          <li>
            <div class="boatPlace sizeThree">
              <div id="8" class="boat sizeThree">
                <img src="/static/teszt.jpg" onclick="rotateBoat(this)"/>
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeThree"></div>
            </div>
            <div class="boatPlace sizeThree">
              <div id="9" class="boat sizeThree">
                <img src="/static/teszt.jpg" onclick="rotateBoat(this)"/>
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeThree"></div>
            </div>
          </li>
          <li>
            <div class="boatPlace sizeFour">
              <div id="10" class="boat sizeFour">
                <img src="/static/teszt.jpg" onclick="rotateBoat(this)"/>
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="placeHolder sizeFour"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="upperPanel">
        <div id="status"></div>
      </div>
      <div style="text-align: center;">
        <button id="doneButton" onclick="map()" class="doneFireButton btn btn-primary">Done</button>
        <button id="fireButton" onclick="turn()" class="doneFireButton btn btn-primary">Fire</button>
      </div>
      <div class="tablePanel" id="tablePanel">
        <table id="userTable">
          <thead>
            <tr>
              <th></th>
              <th>A</th>
              <th>B</th>
              <th>C</th>
              <th>D</th>
              <th>E</th>
              <th>F</th>
              <th>G</th>
              <th>H</th>
              <th>I</th>
              <th>J</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tableNumber">1</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">2</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">3</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">4</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">5</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">6</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">7</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">8</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">9</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">10</td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
              <td>
                <img src="" class="tableImage" />
              </td>
            </tr>
          </tbody>
        </table>

        <table  id="opponentTable">
          <thead>
            <tr>
              <th></th>
              <th>A</th>
              <th>B</th>
              <th>C</th>
              <th>D</th>
              <th>E</th>
              <th>F</th>
              <th>G</th>
              <th>H</th>
              <th>I</th>
              <th>J</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tableNumber">1</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">2</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">3</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">4</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">5</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">6</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">7</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">8</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">9</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
            <tr>
              <td class="tableNumber">10</td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
              <td onclick="opponentTableCellClicked(this)">
                <img src="" class="tableImage" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    
    <div class="container">
      <div class="row">
        <div class="col-md-5 chatbox" style="z-index: 99999999">
          <div class="panel panel-primary">
            <div class="panel-heading" id="accordion">
              <span class="glyphicon glyphicon-comment"></span> Chat
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" onclick="collapseOne()">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
              </div>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
              <div class="panel-body">
                <ul class="chat" id="chat">
                </ul>
              </div>
              <div class="panel-footer">
                <div class="input-group">
                  <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                  <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendMessage()">Send</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>