<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <script>
    var secret = "{{ current_user.username }}" + ";" + "{{ current_user.password }}";
  </script>
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='socket.io-client.js') }}"></script>
  <script src="{{ url_for('static', filename='client.js') }}"></script>

</head>

<body>

	<h1>SECURE PAGE</h1>

  <p>{{ current_user.username }} - {{ current_user.password }}</p>

  <div id="lobby">
    <div id="invitations"></div>
    <div id="waitings"></div>
    <div id="users"></div>
    <div id="chat"></div>
    <input type="text" autocomplete="false" id="message" />
    <button onclick="sendMessage()">SEND</button>
  </div>

  <div id="game">
    <button id="ready" onclick="ready()">READY</button>
  </div>

</body>

</html>