<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Torpedo</title>
    <meta name="description" content="Torpedo - main page">
    <script>
      var secret = "{{ current_user.username }}" + ";" + "{{ current_user.password }}";
    </script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io-client.js') }}"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
    <link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet" type="text/css" /> 
    <link href="{{ url_for('static', filename='bootstrap-min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='secure.css') }}">

  </head>
  <body>
  	<h1>Torpedo</h1>

    <div id="lobby">
      <div id="invitations"></div>
      <div id="waitings"></div>
      <div id="users"></div>
    </div>

    <div id="game">
      <div id="status"></div>
      <div id="battlefield"></div>
      <button id="ready" onclick="ready()">READY</button>
    </div>

    <div id="chat"></div>
    <input type="text" autocomplete="false" id="message" />
    <button onclick="sendMessage()">SEND</button>



    <!-- TODO oldal alján legyen faszán -->
    <!--<div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="panel panel-primary">
                  <div class="panel-heading" id="accordion">
                      <span class="glyphicon glyphicon-comment"></span> Chat
                      <div class="btn-group pull-right">
                          <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                              <span class="glyphicon glyphicon-chevron-down"></span>
                          </a>
                      </div>
                  </div>
              <div class="panel-collapse collapse" id="collapseOne">
                  <div class="panel-body">
                      <ul class="chat">
                          <li class="left clearfix"><span class="chat-img pull-left">
                              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                          </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                          <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                      dolor, quis ullamcorper ligula sodales.
                                  </p>
                              </div>
                          </li>
                          <li class="right clearfix"><span class="chat-img pull-right">
                              <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                          </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                      dolor, quis ullamcorper ligula sodales.
                                  </p>
                              </div>
                          </li>
                          <li class="left clearfix"><span class="chat-img pull-left">
                              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                          </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                          <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                      dolor, quis ullamcorper ligula sodales.
                                  </p>
                              </div>
                          </li>
                          <li class="right clearfix"><span class="chat-img pull-right">
                              <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                          </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                      dolor, quis ullamcorper ligula sodales.
                                  </p>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="panel-footer">
                      <div class="input-group">
                          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                          <span class="input-group-btn">
                              <button class="btn btn-warning btn-sm" id="btn-chat">
                                  Send</button>
                          </span>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
    </div>-->
  </body>
</html>